fastmcp
httpx
ipykernel
langchain
langchain-core
langchain-mcp-adapters
langchain-openai
langchain-groq 
langchain-huggingface
sentence-transformers 
torch
langgraph-supervisor
langgraph
python-dotenv
sqlalchemy
pydantic-settings